///////////////// general elements ///////////
body {
  padding-left: 0;
}

//////////////// main classes ////////////////
.col-md-8 {
  background-color: red;
}
///////////////// side bar /////////////////
.col-md-4 {
  background-color: blue;
  position: absolute;
  width: 12%;
  min-height: 50em;
  margin-left: 0;
}
///////////////// Login /////////////////////
#loginContainer {
  color: white;
  border: 2px, black;
  background-color: gray;
  position: relative;
  left:300px;
  top:150px;
  border-radius: 10px;
  border: 5px solid black;
  padding: 2%;
  a {
    float: right;
    color: black;
  }
}
#loginReturn {
  margin: 5% 5% 1% 25%;
  background-color: #005CB8;
  width: 50%;
  color: white;
}



.hidden-class { //ADDED HIDDEN CLASS
  display: none;
}
