///////////////// general elements ///////////
body {
  padding-left: 0;
}
h1 {
  text-align: center;
  text-shadow: 1px 1px 2px #005CB8;
}
form {
  position: absolute;
}
//////////////// main classes ////////////////
.col-md-8 {
  background-color: #D1D1E0;
  margin-left: 200px;
  overflow: hidden;
  margin-bottom: 0;
  height: 790px;
  li{
    img {
      border-radius: 10em;
      width: 14em;
    }
  }
}
.messageWriter {
  position: absolute;
  margin: 45% auto 0 32%;
  background-color: darkseagreen;
}
///////////////// side bar /////////////////
.col-md-4 {
  background-color: darkseagreen;
  position: absolute;
  width: 21%;
  min-height: 50em;
  margin-left: -67px;
}
///////////////// Login /////////////////////
#loginContainer {
  color: white;
  border: 2px, black;
  background-color: darkseagreen;
  position: relative;
  left:300px;
  top:150px;
  border-radius: 10px;
  border: 5px solid black;
  padding: 2%;
  a {
    float: right;
    color: black;
  }
}
#loginReturn {
  margin: 5% 5% 1% 25%;
  background-color: #005CB8;
  width: 50%;
  color: white;
}
////////////////navbar/////////////////////
.navbar-right {
  margin: none;
}


.hidden-class { //ADDED HIDDEN CLASS
  display: none;
}
