
nav ul {
  list-style: none;
  display: inline-block;
  float: right;
}
.container-fluid {
  width: 100%;
}

.navbar-btn :hover{

}
.navbar-text {
  font-size: 16px;
}
.btn-default {
  background-color: rgba(185, 144, 151, 0.29);
}
