body {
  padding-left: 0; }

h1 {
  text-align: center;
  text-shadow: 1px 1px 2px #005CB8; }

.col-md-8 {
  background-color: red; }

.col-md-4 {
  background-color: blue;
  position: absolute;
  width: 12%;
  min-height: 50em;
  margin-left: 0; }

#loginContainer {
  color: white;
  border: 2px, black;
  background-color: darkseagreen;
  position: relative;
  left: 300px;
  top: 150px;
  border-radius: 10px;
  border: 5px solid black;
  padding: 2%; }
  #loginContainer a {
    float: right;
    color: black; }

#loginReturn {
  margin: 5% 5% 1% 25%;
  background-color: #005CB8;
  width: 50%;
  color: white; }

#loginSubmit {
  margin: 5% 5% 1% 25%;
  background-color: #005CB8;
  width: 50%;
  color: white; }

.hidden-class {
  display: none; }
